@import "~materialize-css/dist/css/materialize.min.css";

input.white-input {
  /* border-bottom: 1px solid #fff!important; */
  /* box-shadow: 0 1px 0 0 #fff!important; */
  color:#fff
}
.nav-wrapper {
  background: linear-gradient(to right, #006064,#004d40);
}
a.brand-logo{
  color: #cfd8dc;
  font-size: 2.5rem;
  padding: 0 0 0 20px;

}
.navbar-link{
  padding: 0 150px;
  font-size: 1.5rem;
}
